<template>
    <div id="app">
        <div class="container-fluid">


            <!--Não reconheceu ninguém-->
            <!--RECONHECENDO---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="row" v-if="!book && !isRecognized">
                <div class="col-lg-6">
                    <div class="row justify-content-md-center">
                        <img src="../img/banner_odhen.png" alt="banner odhen" style="width: 100%; height: 100%;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row justify-content-md-center">
                        <img src="http://localhost:5000/video_feed" class="img-thumbnail" alt="banner odhen">
                        <div class="row justify-content-md-center">
                            <h1 class="mensagem" id="output">
                            <p class="loading">Reconhecendo</p> 
                        </h1>
                        </div>
                    </div>
                </div>
            </div>

            <!--Reconheceu alguem e sabe quem é-->
            <!--RESULTADO---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
  
            <div class="row justify-content-md-center">
                <div v-if="!book && isRecognized && isSigned">
                    <div class="row align-items-center">
                        <div class="col-md-12" style="margin-top:20%">
                            <h1 class="mensagem float-center">
                            Olá, {{username}}, {{message}}
                            </br>
                            </br>
                            Não te vejo desde [ {{lastTimeHere}} ], saudades
                        </h1>
                        </div>
                    </div>
                </div>
            </div>



            <!--Reconheceu alguem e não sabe quem é-->
            <!--CADASTRO1---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div v-if="!book && isRecognized && !isSigned">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 ">
                        <div class="row justify-content-md-center">
                            <img src="../img/logo.png" alt="logo peekaboo">
                        </div>
                        <input v-model="nome" type="text" class="form-control" name="nome" style="height: 60px;" id="nome" placeholder="Seu Nome" />
                        <br>
                        <div class="row justify-content-md-center">
                            <input type="submit" class=" btn btn-success " style="width:200px; height:50px; font-size: x-large" value="Cadastrar" v-on:click="request()" />
                        </div>
                    </div>
                </div>
            </div>


            <!--CADASTRANDO...---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div v-if="book">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row justify-content-md-center">
                            <h1 class="titulo">Hora da sessão de fotos!</h1>

                            <div class="row justify-content-md-center imagem-P">
                                <img src="../img/logo2.png" alt="logo peekaboo">
                            </div>
                            <div class="basediv">
                                <h3 class="mensagem">Faltam {{count}} fotos para completar o cadastro.</h3>
                                <h3 class="mensagem">Clique no botão para tirar mais uma:</h3>
                        <div v-if="disable">
                            <div class="row justify-content-md-center">
                                <button id="botao" type="button" class="btn btn-success" style="width:200px; height:50px; font-size: x-large" disabled v-on:click="savephoto()"> <i class="fa fa-camera"></i> Click </button>
                            </div>
                        </div>
                        <div v-else>
                            <div class="row justify-content-md-center">
                                <button id="botao" type="button" class="btn btn-success" style="width:200px; height:50px; font-size: x-large" v-on:click="savephoto()"> <i class="fa fa-camera"></i> Click </button>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row justify-content-md-center">
                            <img src="http://localhost:5000/video_feed" class="img-thumbnail" alt="banner odhen">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Rodapé-->
        <div class="footer">
            <footer>
                <div>Odhen Go, Inteligência Artificial by Teknisa™</div>
            </footer>
        </div>
    </div>
</template>

      <script type="text/javascript">
      const axios = require('axios');
      export default {
        data: function() {
          return{
          isRecognized : false,
          isSigned : false,
          book:false,
          count:5,
          nome: '',
          id: 0,
          disable: false,
          username: "ab",
          lastTimeHere: "",
          message: ""
          }
        },
        methods:{
          reconhecimento:function(json){
              const existeface = json.data.length > 0
             if(existeface){
              const cadastrado = json.data[0].FaceMatches.length > 0  
              this.isRecognized= true
              if(cadastrado){
                this.username =  json.pessoas[0].pessoa.nome
                this.lastTimeHere = json.pessoas[0].pessoa.ultimaVisita
                this.message = this.geraMessage(json)
                this.isSigned = true
              }else{
                this.isSigned = false
              }
             }else{
               this.isRecognized= false
             }
          },


          geraMessage:function(json){
            if (json.data[0].FaceDetails.FaceDetails[0].Gender.Value == "Male"){
                if (json.data[0].FaceDetails.FaceDetails[0].EyesOpen.Value == false && json.data[0].FaceDetails.FaceDetails[0].EyesOpen.Confidence > 95){
                    if (json.data[0].FaceDetails.FaceDetails[0].Smile.Value == true){
                    const frases = ["este deve ser um dos maiores sorrisos que já vi", "eelo sorrisão, muito bom te ver feliz assim", "esse sorriso é um presente pra quem está perto de você", "um sorriso como esse ilumina o ambiente", "seu sorriso fez meu dia melhor", "seu sorriso mudou meu dia! espalhe mais desses por aí"]
                    
                    return frases[Math.floor(Math.random() * frases.length)]
                    }
                    const frases = ["você tem olhos tão bonitos, nao devia escondê-los de mim", "você tem olhos pequenos pra alguém com tanta visão", "você piscou na hora do flash haha :)"]
                    
                    return frases[Math.floor(Math.random() * frases.length)]
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].MouthOpen.Value == true){
                    if (json.data[0].FaceDetails.FaceDetails[0].Smile.Value == true){
                        const frases = ["este deve ser um dos maiores sorrisos que já vi", "belo sorrisão, muito bom te ver feliz assim", "esse sorriso é um presente pra quem está perto de você", "um sorriso como esse ilumina o ambiente", "seu sorriso fez meu dia melhor", "seu sorriso mudou meu dia! espalhe mais desses por aí"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                    if (json.data[0].FaceDetails.FaceDetails[0].Sunglasses.Value == true){
                        const frases = ["esses oculos são pra disfarçar a cara de sono? kk :)", "Parece que temos um espião por aqui", "com esse oculos você parece um rockstar"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                    return "Olha o aviãozinho..."
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].Smile.Value == true){
                    if (json.data[0].FaceDetails.FaceDetails[0].Sunglasses.Value == true){
                        const frases = ["Oculos escuros + sorriso no rosto = clima de verão", "Oculos escuros porque esse sorriso mais o brilho dos seus olhos ofuscaria minha visão", "De acordo com meus calculos, já que você está de oculos de sol e sorrindo, as chances de estar de férias são de 78%"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }   
                    if (json.data[0].FaceDetails.FaceDetails[0].Beard.Value == true){
                        const frases = ["Nunca deixa essa barba ocultar esse sorriso :)", "bonita barba, só não ganha do seu sorriso"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }     
                        const frases = ["Esse sorriso é um presente pra quem está perto de você", "Um sorriso como esse ilumina o ambiente", "Seu sorriso fez meu dia melhor", "Seu sorriso mudou meu dia! espalhe mais desses por aí"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].Sunglasses.Value == true){
                    if (json.data[0].FaceDetails.FaceDetails[0].Mustache.Value == true){
                        const frases = ["Bigode e oculos escuros!? Quanto estilo", "Seu bigode só não é mais estiloso que seus oculos"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                    if (json.data[0].FaceDetails.FaceDetails[0].Beard.Value == true){
                        const frases = ["os oculos combinam com sua barba", "A barba combina com seus oculos", "Quase te confundi com um ator de cinema"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                        const frases = ["Seu disfarce não funciona comigo, mas seu segredo está seguro", "esses oculos são pra disfarçar a cara de sono? kk :)", "Parece que temos um espião por aqui"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].Mustache.Value == true){
                    if (json.data[0].FaceDetails.FaceDetails[0].Beard.Value == true){
                        const frases = ["você sabia que sua barba cresce, em media, 14cm por ano?","gostei da barba", "barba bonita", "bela barba", "a barba te dá um ar de experiente", "sem essa barba nem sua mãe te reconhece", "sua barba me lembra a do Wolverine"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                        const frases = ["Santos Dumont tinha um bigode parecido com esse, que você, como ele, possa alçar altos voos","seu bigode me lembrou o do Charlie Chaplin, que você seja igualmente genial", "Clark Gable teria inveja desse bigode", "bonito bigode"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].Beard.Value == true){
                    const frases = ["você sabia que sua barba cresce, em media, 14cm por ano?","gostei da barba", "barba bonita", "bela barba", "a barba te dá um ar de experiente", "sem essa barba nem sua mãe te reconhece", "sua barba me lembra a do Wolverine"]
                    
                    return frases[Math.floor(Math.random() * frases.length)]
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].Eyeglasses.Value == true){
                    const frases = ["esses oculos nao me engana, Superman.","Os oculos te dão um ar de inteligente", "gostei do modelo dos seus oculos"]
                    
                    return frases[Math.floor(Math.random() * frases.length)]
                }
            }


            if (json.data[0].FaceDetails.FaceDetails[0].Gender.Value == "Female"){
                if (json.data[0].FaceDetails.FaceDetails[0].EyesOpen.Value == false){
                    if (json.data[0].FaceDetails.FaceDetails[0].Smile.Value == true){
                        const frases = ["Este deve ser um dos maiores sorrisos que já vi", "Belo sorrisão, muito bom te ver feliz assim", "Esse sorriso é um presente pra quem está perto de você", "Um sorriso como esse ilumina o ambiente", "Seu sorriso fez meu dia melhor", "Seu sorriso mudou meu dia! espalhe mais desses por aí"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                        const frases = ["você tem olhos tão bonitos, nao devia escondê-los de mim", "você tem olhos pequenos pra alguém com tanta visão", "você piscou na hora do flash haha :)"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].MouthOpen.Value == true){
                    if (json.data[0].FaceDetails.FaceDetails[0].Smile.Value == true){
                        const frases = ["Mulher, este deve ser um dos sorrisos mais bonitos que já vi", "Belo sorrisão, muito bom te ver feliz assim", "Esse sorriso é um presente pra quem está perto de você", "Um sorriso como esse ilumina o ambiente", "Seu sorriso fez meu dia melhor", "Seu sorriso mudou meu dia! espalhe mais desses por aí"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                    if (json.data[0].FaceDetails.FaceDetails[0].Sunglasses.Value == true){
                        const frases = ["Seu disfarce não funciona comigo, mas seu segredo está seguro", "esses oculos são pra disfarçar a cara de sono? kk :)", "Parece que temos uma espiã por aqui", "Agradeço meus componentes por me permitirem ver esses olhos lindos apesar dos óculos escuros"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }
                    return "Olha o aviãozinho..."
                }
                else if (json.data[0].FaceDetails.FaceDetails[0].Smile.Value == true){
                    if (json.data[0].FaceDetails.FaceDetails[0].Sunglasses.Value == true){
                        const frases = ["Oculos escuros + sorriso no rosto = clima de verão", "Oculos escuros porque esse sorriso mais o brilho dos seus olhos ofuscaria minha visão", "De acordo com meus calculos, já que você está de oculos de sol e sorrindo, as chances de estar de férias são de 78%"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                    }   
                        const frases = ["A melhor maquiagem que uma mulher pode usar é um sorriso","Esse sorriso é um presente pra quem está perto de você", "Um sorriso como esse ilumina o ambiente", "Seu sorriso fez meu dia melhor", "Seu sorriso mudou meu dia! espalhe mais desses por aí"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]

                }
                else if (json.data[0].FaceDetails.FaceDetails[0].Sunglasses.Value == true){
                        const frases = ["Seu disfarce não funciona comigo, mas seu segredo está seguro", "esses oculos são pra disfarçar a cara de sono? kk :)", "Parece que temos uma espiã por aqui", "Agradeço meus componentes por me permitirem ver esses olhos lindos apesar dos óculos escuros"]
                    
                        return frases[Math.floor(Math.random() * frases.length)]
                }
            }
          },

          decrease:function(){
            this.count--
            this.disable= false
            if(this.count==0){
              this.count=5,     
              this.book=false,
              this.isRecognized=false
            }
          },

        request:function(){
            const self = this
            axios.post('http://localhost:5000/cadastro/pessoa/salvarnome', {
            nome: this.nome
            })
            .then(function (response) {
                //console.log(response);
                self.id = response.data.novoId;
            })
            .catch(function (error) {
                console.log(error);
            });
            this.book=true
          },

        savephoto:function(){
            const self = this 
            this.disable= true
            axios.post('http://localhost:5000/cadastro/pessoa/capturarfoto', {
            id: this.id
            })
            .then(function (response) {
                status = response.data.status
                if (status){
                    self.decrease()  
                }else{

                }
                //console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
          }
        },
        mounted: function(){
          const self = this;
          var ws = new WebSocket("ws://127.0.0.1:13254/"),
          messages = document.createElement('ul');
          ws.onmessage = function (event) {
          // messages.appendChild(message);
          self.reconhecimento(JSON.parse(event.data))
         
          };
        }
      };

      </script>
      <style type="text/css">
      @import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
      @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
      @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

      #app {
      background-color:#2D68C3;
      display: flex;
      justify-content: center;
      }
      hr{

        color:white;
      }
      .row {
      margin:4%;
      }

      .titulo{
      font-family: 'Comfortaa', cursive;
      font-size:45px;
      color: snow;
      }
      .imagem-P{
        width:10px;
        height:10px;
      }
      .basediv{
        position: absolute; 
        bottom: 0px; 
      }

      .middiv{
        position: absolute; 
        bottom: 23%; 
      }

      .mensagem{
      font-family: 'Comfortaa', cursive;
      color: snow;
      }
      
      input[type="text"] {
        font-family: 'Comfortaa', cursive;
        font-size: 30px;
        color: #2D68C3;
      }

      .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      max-height: 25px;
      height: 100%;
      width: 100%;
      vertical-align: 100%;
      background-color: #ffffff;
      color: black;
      text-align: center;
      font-size: 18px;
      }
  .loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}

  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}}
      </style>